<?xml version="1.0"?>

<launch>
  
  <arg name="incoming_base_name" default="INVALID" />
  <arg name="outgoing_base_name" default="INVALID" />
  <arg name="input_topic_in_camera_namespace" default="image_raw" />
  <arg name="cam_request_topic" default=""/>    
  
  <node pkg="nodelet" type="nodelet" name="$(arg outgoing_base_name)_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="$(arg incoming_base_name)" />
    <remap from="camera_out" to="$(arg outgoing_base_name)" />
    <remap from="camera_out_still" to="$(arg outgoing_base_name)_still" />
    <remap from="camera_out_video" to="$(arg outgoing_base_name)_video" />
    <param name="input_topic_in_camera_namespace" value="$(arg input_topic_in_camera_namespace)" />
    <arg name="cam_request_topic" value="$(arg cam_request_topic)"/>    
  </node>
   
</launch>

