<?xml version="1.0"?>

<launch>
  
  <!--Start nodelet manager that will contain all crop_decimate nodelets-->
  <node pkg="nodelet" type="nodelet" name="crop_decimate_nodelet_manager"  args="manager" />
  <node pkg="nodelet" type="nodelet" name="crop_decimate_requester_nodelet_manager"  args="manager" />

  <!--Head-LEFT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="l_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="multisense_sl/left/" />
    <remap from="camera_out" to="l_image_full" />
    <remap from="image_raw" to="image_color_rect" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="l_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="multisense_sl/left/" />
    <remap from="camera_out" to="l_image_cropped" />
    <remap from="image_raw" to="image_color_rect" />
  </node>

  <!--Head-RIGHT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="r_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="multisense_sl/camera/right/" />
    <remap from="camera_out" to="r_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="r_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="multisense_sl/camera/right/" />
    <remap from="camera_out" to="r_image_cropped" />
  </node>
 

  <!--SA-RIGHT CAMERA-->

  <!-- RAW FISHEYE -->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="rsa_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager" >
    <remap from="camera" to="sa/right" />
    <remap from="camera_out" to="rsa_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="rsa_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sa/right" />
    <remap from="camera_out" to="rsa_image_cropped" />
  </node>
   
  <!-- RECTIFIED -->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="rrsa_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager" >
    <remap from="camera" to="sa/right/equirectangular" />
    <remap from="camera_out" to="rrsa_image_full" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="rrsa_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager">
    <remap from="camera" to="sa/right/equirectangular" />
    <remap from="camera_out" to="rrsa_image_cropped" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>
  </node>

  <!--SA-LEFT CAMERA-->

  <!-- RAW FISHEYE -->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="lsa_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sa/left" />
    <remap from="camera_out" to="lsa_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="lsa_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sa/left" />
    <remap from="camera_out" to="lsa_image_cropped" />
  </node>
  
  <!-- RECTIFIED -->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="lrsa_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager" >
    <remap from="camera" to="sa/left/equirectangular" />
    <remap from="camera_out" to="lrsa_image_full" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="lrsa_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager" >
    <remap from="camera" to="sa/left/equirectangular" />
    <remap from="camera_out" to="lrsa_image_cropped" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>
  </node>

  <!-- SA PANORAMA-->
  <node pkg="nodelet" type="nodelet" name="psa_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager" >
    <remap from="camera" to="sa/panorama" />
    <remap from="camera_out" to="psa_image_full" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>    
  </node>
  
  <node pkg="nodelet" type="nodelet" name="psa_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_requester_nodelet/CropDecimateRequesterNodelet crop_decimate_requester_nodelet_manager" >
    <remap from="camera" to="sa/panorama" />
    <remap from="camera_out" to="psa_image_cropped" />
    <param name="max_video_framerate" value="0" />
    <param name="cam_request_topic" value="request"/>    
  </node>

  <!--Left hand-LEFT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="lhl_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/l_hand/left/" />
    <remap from="camera_out" to="lhl_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="lhl_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/l_hand/left/" />
    <remap from="camera_out" to="lhl_image_cropped" />
  </node>

  <!--Left hand-RIGHT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="lhr_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/l_hand/right/" />
    <remap from="camera_out" to="lhr_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="lhr_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/l_hand/right/" />
    <remap from="camera_out" to="lhr_image_cropped" />
  </node>
  
  <!--Right hand-LEFT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="rhl_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/r_hand/left/" />
    <remap from="camera_out" to="rhl_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="rhl_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager">
    <remap from="camera" to="sandia_hands/r_hand/left/" />
    <remap from="camera_out" to="rhl_image_cropped" />
  </node>

  <!--Right hand-RIGHT CAMERA-->
  <!--Add nodelet intended for full image decimation-->
  <node pkg="nodelet" type="nodelet" name="rhr_image_full_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager" output="screen">
    <remap from="camera" to="sandia_hands/r_hand/right/" />
    <remap from="camera_out" to="rhr_image_full" />
  </node>
  <!--Add nodelet intended for region of interest image crop/decimation-->
  <node pkg="nodelet" type="nodelet" name="rhr_image_crop_decimate" respawn="true"
        args="load vigir_crop_decimate_nodelet/CropDecimateNodelet crop_decimate_nodelet_manager" output="screen">
    <remap from="camera" to="sandia_hands/r_hand/right/" />
    <remap from="camera_out" to="rhr_image_cropped" />
  </node>
   
</launch>

