<?xml version="1.0"?>

<launch>

  <node name="vigir_ocs_time_widget"          pkg="vigir_ocs_time_widget"          type="time_widget"           /> <!--  output="screen" launch-prefix="xterm -e" / -->
  <node name="vigir_rqt_control_mode"        pkg="vigir_rqt_control_mode"        type="control_mode"         /> <!--  output="screen" launch-prefix="xterm -e" / -->
  
  <include file="$(find flor_footstep_planner)/launch/rviz_testing.launch" /> 
 
</launch>