<?xml version="1.0"?>

<launch>

    <!-- Load camera configuration for the UI nodes and nodelets -->
    <rosparam command="load" file="$(find vigir_ocs)/config/atlas_camera_topics.yaml" />
    <rosparam command="load" file="$(find vigir_ocs)/config/$(optenv FLOR_LEFT_HAND_TYPE l_stump)_camera_topics.yaml" />
    <rosparam command="load" file="$(find vigir_ocs)/config/$(optenv FLOR_RIGHT_HAND_TYPE r_stump)_camera_topics.yaml" />
    <!-- Make depend on FLOR_HAND_TYPE -->
    <rosparam file="$(find vigir_ocs_grasp_widget)/launch/$(optenv FLOR_LEFT_HAND_TYPE l_stump)_tf.yaml" ns="l_hand_tf"/>
    <rosparam file="$(find vigir_ocs_grasp_widget)/launch/$(optenv FLOR_RIGHT_HAND_TYPE r_stump)_tf.yaml" ns="r_hand_tf"/>

    <param name="l_hand_type" value="$(optenv FLOR_LEFT_HAND_TYPE l_stump)" />
    <param name="r_hand_type" value="$(optenv FLOR_RIGHT_HAND_TYPE r_stump)" />
    
    <rosparam file="$(find vigir_ocs)/config/hand_parameters.yaml" />

</launch>
