<?xml version="1.0"?>

<launch>
  
  <!--
  Bringup basics for providing controllable robot, tf and robot model
  -->
  <include file="$(find vigir_atlas_bringup)/launch/robot_description.launch" />
  <include file="$(find vigir_atlas_bringup)/launch/state_publishers.launch" />
  <include file="$(find vigir_atlas_bringup)/launch/robot_controller.launch" />


</launch>

