<?xml version="1.0"?>

<launch>

  <!-- Multisense, SA, and rear camera interfaces -->
  <!-- Commented out as Multisense moved to Sam temporarily, see #1850)
  <!--<include file="$(find flor_atlas_bringup)/launch/camera_sensors.launch" />-->

  <include file="$(find pgr_camera)/launch/atlas_sa_cameras.launch"/>

  <!-- Onboard software -->
  <include file="$(find vigir_onboard)/launch/perception.launch" />

  <!-- Comms bridge -->
  <include file="$(find vigir_comms_bridge)/launch/field_bridge_legolas.launch" />

</launch>

