<?xml version="1.0"?>

<launch>

  <!--  Start hand interfaces here -->
  <include file="$(find flor_atlas_bringup)/launch/hand_hardware.launch" />

  <!--  Start misc motion control, behaviors, grasping interfaces here -->
  <include file="$(find vigir_onboard)/launch/motion.launch" />

  <!-- Comms bridge -->
  <include file="$(find vigir_comms_bridge)/launch/field_bridge_sam.launch" />

</launch>

