<?xml version="1.0"?>

<launch>

    <node name="vigir_ocs_main_3d_view"         pkg="vigir_ocs_main_3d_view"         type="main_3d_view"             respawn="false"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="controller_mode_ui"             pkg="vigir_rqt_control_mode"         type="control_mode"             respawn="false"      />

    <!-- go ahead and start the manager UI for this -->
    <node name="vigir_ocs_template_manager"     pkg="vigir_ocs_template_manager"     type="template_manager"     respawn="false"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="vigir_ocs_waypoint_manager"     pkg="vigir_ocs_waypoint_manager"     type="waypoint_manager"     respawn="false"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="vigir_ocs_image_manager"     pkg="vigir_ocs_image_manager"     type="image_manager"     respawn="false"      /> <!--  output="screen" launch-prefix="xterm -e" / -->

    <node name="right_grasp_ui" pkg="vigir_ocs_grasp_widget" type="grasp_widget"     respawn="false"> <!--  output="screen" launch-prefix="xterm -e"  -->
        <param name="/graspWidget/hand" value="right" />

        <!-- Publications -->
        <remap from="/template/grasp_mode_command" to="/grasp_control/r_hand/mode_command" />
        <remap from="/template/grasp_selection"    to="/grasp_control/r_hand/grasp_selection" />
        <remap from="/template/release_grasp"      to="/grasp_control/r_hand/release_grasp" />

        <!-- Subscriptions -->
        <remap from="/template/active_state"            to="/grasp_control/r_hand/active_state" />
        <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />

    </node>

</launch>
