<?xml version="1.0"?>

<!--
Test the ghost robot standalone (only OCS)
-->

<launch>

  <include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />

  <node name="vigir_ocs_main_3d_view"         pkg="vigir_ocs_main_3d_view"         type="main_3d_view"             respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  <node name="vigir_ocs_map_view"             pkg="vigir_ocs_map_view"             type="map_view"                 respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  <node name="vigir_ocs_ghost_control_widget" pkg="vigir_ocs_ghost_control_widget" type="ghost_control"            respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  
  <node name="rviz" pkg="rviz" type="rviz" respawn="false" args="-d $(find vigir_test_ocs)/rviz/manipulability_vis_test.rviz"  /> <!--  output="screen" launch-prefix="xterm -e" / -->
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_pelvis_tf_pub" args="0 0 0.8 0 0 0 /world /pelvis 100"/>
  
  <node name="vigir_ocs_back_joint_limit"     pkg="vigir_ocs_back_joint_limit"	 type="joint_limit"           	 respawn="true"      />

</launch>
