<?xml version="1.0"?>

<!--
Test the ghost robot standalone (only OCS)
-->

<launch>
    
  <!-- Make depend on FLOR_HAND_TYPE -->
  <rosparam file="$(find vigir_manipulation_controller)/launch/$(env FLOR_LEFT_HAND_TYPE)_tf.yaml" ns="l_hand_tf"/>
  <rosparam file="$(find vigir_manipulation_controller)/launch/$(env FLOR_RIGHT_HAND_TYPE)_tf.yaml" ns="r_hand_tf"/>


  <include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />
  
  <include file="$(find flor_atlas_description)/launch/xacrodisplay.launch" />
  
  <include file="$(find vigir_onboard)/launch/moveit_planning.launch" />
  
  <node pkg="tf" type="static_transform_publisher" name="world_to_pelvis_tf_pub" args="0 0 0.85 0 0 0 world pelvis 100"/>
  
  <node pkg="vigir_interactive_marker_pose_server" type="interactive_marker_pose_server" name="center_interactive_marker_pose_server"  >
    <param name="marker_name" value="center_im" />
    <param name="frame_id" value="world" />
    <remap from="pose" to="/rotation_center_pose" />
  </node>
  
<!--  <node pkg="vigir_interactive_marker_pose_server" type="interactive_marker_pose_server" name="robot_interactive_marker_pose_server"  >
    <param name="marker_name" value="robot_im" />
    <param name="frame_id" value="world" />
    <remap from="pose" to="/robot_pose_2d" />
  </node>-->
  
<!--    <node pkg="message_to_tf" type="message_to_tf" name="robot_pose_in_world_to_tf" output="screen" respawn="true">
      <param name="pose_topic" value="robot_pose_2d" /> 
      <param name="footprint_frame_id" value="robot_footprint" />
      <param name="stabilized_frame_id" value="robot_footprint_stabilized" />
      <param name="child_frame_id" value="pelvis_projection" />    
    </node>-->
     

  <node name="controller_mode_ui"             pkg="vigir_rqt_control_mode"         type="control_mode"             respawn="true"      />
  <node name="vigir_ocs_main_view"         pkg="vigir_ocs_main_view"         type="main_view"             respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  <node name="vigir_ocs_ghost_control_widget" pkg="vigir_ocs_ghost_control_widget" type="ghost_control"            respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  <node name="vigir_rqt_joint_control"        pkg="vigir_rqt_joint_control"        type="joint_control"            respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->
  
  <include file="$(find vigir_rqt_position_mode)/launch/hand_positions.launch" />

</launch>
