<?xml version="1.0"?>

<launch>

  <include file="$(find vigir_ihmc_sim_launch)/launch/vigir_onboard.launch" />
  
  <include file="$(find vigir_ocs)/launch/vigir_ocs.launch" />  
  
  <include file="$(find ihmc_sim)/launch/ihmc_sim.launch">
    <arg name="description_model" value="$(find ihmc_models)/urdf/atlas_unplugged_v5_no_hands.urdf"/>
    <arg name="ihmc_model" default="ATLAS_UNPLUGGED_V5_NO_HANDS" />
  </include>
  
</launch>

