<?xml version="1.0"?>

<launch>

  <!-- Launch robot controller -->
  <include file="$(find vigir_atlas_controller)/launch/atlas_simulation.launch">
    <arg name="launch_prefix" value=" "/>
  </include>

  <include file="$(find vigir_onboard)/launch/motion.launch" />

  <!-- Includes perception and relays for non-comms bridge setup -->
  <include file="$(find vigir_onboard_gazebo)/launch/onboard_perception_gazebo.launch" />

  <!-- Includes relay that we need if we are not running comms bridge -->
  <include file="$(find vigir_image_processing)/launch/relay_multisense_crop_decimate_without_comms_bridge.launch" />

</launch>

