<?xml version="1.0"?>

<launch>

  <!-- Launch robot controller -->
  <include file="$(find flor_robot_controller)/launch/flor_sim_controller.launch">
    <arg name="launch_prefix" value=""/>
  </include>

  <include file="$(find vigir_onboard)/launch/perception.launch" />

  <include file="$(find vigir_onboard)/launch/motion.launch" />

  <!-- Handle change in image compression for video with current remapping handled by CommsBridge in real system -->
  <node name="bridge_image_left_full_ocs_compressed" pkg="image_transport" type="republish" args="compressed in:=/l_image_full_still/image_raw raw out:=/l_image_full/image_raw"  respawn="true"/>

  <node name="bridge_image_left_full_ocs_theora" pkg="image_transport" type="republish" args="theora in:=/l_image_full_video/image_raw raw out:=/l_image_full/image_raw"  respawn="true"/>

  <node name="bridge_image_left_cropped_ocs_compressed" pkg="image_transport" type="republish" args="compressed in:=/l_image_cropped_still/image_raw raw out:=/l_image_cropped/image_raw"  respawn="true"/>

  <node name="bridge_image_left_cropped_ocs_theora" pkg="image_transport" type="republish" args="theora  in:=/l_image_cropped_video/image_raw raw out:=/l_image_cropped/image_raw"  respawn="true"/>

  <node name="bridge_image_right_full_ocs_compressed" pkg="image_transport" type="republish" args="compressed in:=/r_image_full_still/image_raw raw out:=/r_image_full/image_raw"  respawn="true"/>

  <node name="bridge_image_right_full_ocs_theora" pkg="image_transport" type="republish" args="theora in:=/r_image_full_video/image_raw raw out:=/r_image_full/image_raw"  respawn="true"/>

  <node name="bridge_image_right_cropped_ocs_compressed" pkg="image_transport" type="republish" args="compressed in:=/r_image_cropped_still/image_raw raw out:=/r_image_cropped/image_raw"  respawn="true"/>

  <node name="bridge_image_right_cropped_ocs_theora" pkg="image_transport" type="republish" args="theora in:=/r_image_cropped_video/image_raw raw out:=/r_image_cropped/image_raw"  respawn="true"/>

</launch>

