<?xml version="1.0"?>

<launch>
  
  <!-- Convert laser scan to 3D point cloud in sensor frame -->
  <node pkg="hector_laserscan_to_pointcloud" type="laserscan_to_pointcloud_node" name="scan_to_ptcld" >
    <remap from="/scan" to="/multisense_sl/laser/scan" />
  </node>

  <!-- Filter the scan cloud to remove robot intersections -->
  <include file="$(find vigir_self_filter)/launch/self_filter_lidar.launch" />
  
  <!-- Start the spindle with default speed -->
  <node type="rostopic" pkg="rostopic" name="spindle_speed_cmd" args="pub --once /multisense_sl/set_spindle_speed std_msgs/Float64 '{data: 3.0}'" output="screen"  />

</launch>

