<?xml version="1.0"?>

<!--
Allows running MoveIt! motion planning and moving arms. Does not retrieve Octomap data
(as worldmodel is not started along with this launch file)
-->

<launch>
  
  <include file="$(find vigir_state_estimation)/launch/state_estimation.launch"/>
  
  <include file="$(find atlas_moveit_config)/launch/test_sim_robot.launch"/>
  
  <include file="$(find vigir_onboard/launch/moveit_planning.launch"/>
  
</launch>
    
