<?xml version="1.0"?>

<launch>
    
  <!--Just use the method described here: http://gazebosim.org/wiki/Tutorials/drcsim/1.3/fake_walking_teleop-->
  <node pkg="pr2_teleop" type="teleop_pr2_keyboard" name="telep_keyboard" output="screen">
    <remap from="/cmd_vel" to="/atlas/cmd_vel" />  
  </node>
    
</launch>
