<?xml version="1.0"?>

<launch>
<node name="ocs_logging" pkg="vigir_ocs_logging" type="logger.py">
    <param name="enable_Log_grabbing" type="bool" value="true" />
    <param name="logger_name" type="str" value="ocs_" />
    <param name="logging_location" type="str" value="/home/testing/Experiments" />
    <rosparam param="to_log">[ '/flor/controller/mode', '/flor/controller/mode_command', '/flor/controller/robot_status', ' /flor/controller/status',
      '/vigir/ocs/footstep_planning/step_plan_request/goal',
      '/flor/ocs/footstep/plan_goal_array',
      '/vigir/ocs/footstep_planning/edit_step/goal',
      '/vigir/ocs/footstep_planning/step_plan_request/cancel',
      '/flor/ocs/footstep/goal_pose_feedback',
      '/flor/ocs/footstep/list',
      '/vigir/ocs/footstep_planning/stitch_step_plan/goal',
      '/flor/ocs/footstep/parameter_set_list',
      '/vigir/footstep_planning/params/get_all_parameter_sets/goal',
      '/vigir/ocs/footstep_planning/stitch_step_plan/cancel',
      '/flor/ocs/footstep/path',
      '/vigir/ocs/footstep_planning/edit_step/cancel',
      '/vigir/ocs/footstep_planning/update_step_plan/cancel',
      '/flor/ocs/footstep/footsteps_array',
      '/vigir/ocs/footstep_planning/update_step_plan/goal',
      '/flor/ocs/footstep/footsteps_path_body_array',
      '/vigir/ocs/footstep_planning/update_feet/cancel',
      '/vigir/ocs/footstep_planning/update_feet/goal',
      '/flor/ocs/footstep/plan_request_feedback',
      '/flor/ocs/footstep/plan_goal',
      '/vigir/ocs/footstep_planning/vis/step_plan_request',
      '/flor/ocs/footstep/redo',
      '/vigir/ocs/footstep_planning/edit_step/result',
      '/vigir/ocs/footstep_planning/update_feet/feedback',
      '/robot_controllers/footstep_controller/execute_step_plan/result',
      '/vigir/ocs/footstep_planning/update_step_plan/result',
      '/flor/ocs/footstep/execute',
      '/flor/ocs/footstep/undo',
      '/vigir/ocs/footstep_planning/stitch_step_plan/feedback',
      '/vigir/ocs/footstep_planning/vis/step_plan',
      '/vigir/footstep_planning/vis/step_plan_request',
      '/vigir/ocs/footstep_planning/update_feet/result',
      '/flor/ocs/footstep/parameter_set_selected',
      '/flor/ocs/footstep/stitch',
      '/flor/ocs/footstep/plan_request',
      '/vigir/ocs/footstep_planning/step_plan_request/result',
      '/vigir/footstep_planning/vis/step_plan',
      '/flor/ocs/footstep/step_update',
      '/vigir/ocs/footstep_planning/edit_step/feedback',
      '/flor/ocs/footstep/set_start_index',
      '/flor/ocs/footstep/goal_pose_feedback',
      '/vigir/ocs/footstep_planning/update_step_plan/feedback',
      '/flor/ocs/footstep/plan_update',
      '/vigir/ocs/footstep_planning/stitch_step_plan/result',
      '/vigir/ocs/footstep_planning/step_plan_request/feedback',
      '/vigir_move_group/cancel',
      '/vigir_move_group/feedback',
      '/vigir_move_group/goal',
      '/vigir_move_group/result',
      '/vigir_move_group/status',
      '/flexbe/log',
      '/flexbe/mirror/outcome',
      '/flexbe/mirror/sync',
      '/flexbe/command/sync',
      '/flexbe/status',
      '/flexbe/request_behavior',
      '/flexbe/start_behavior',
      '/flexbe/behavior_input/feedback',
      '/flexbe/behavior_input/goal',
      '/flexbe/behavior_input/result',
      '/flexbe/behavior_input/cancel',
      '/flexbe/behavior_input/status',
      '/rosout',
      '/pose_body',
      '/flor/controller/bdi_to_world_frame',
      '/flor/controller/raw_bdi_pose',
      '/move_group/display_planned_path',
      '/hand_controllers/left_hand_traj_controller/follow_joint_trajectory/goal',
      '/hand_controllers/right_hand_traj_controller/follow_joint_trajectory/goal',
      '/hand_controllers/left_hand_traj_controller/command',
      '/hand_controllers/right_hand_traj_controller/command',
      '/flor_ocs_bandwidth',
      '/bridge_status',
      '/vigir_foobar'
   ] </rosparam>
</node>
</launch>
