<?xml version="1.0"?>

<launch>
    
    <node pkg="message_to_tf" type="message_to_tf" name="ghost_right_hand_state_to_tf" output="screen" respawn="true">
      <param name="pose_topic" value="/ghost_right_hand_pose" />
      <param name="footprint_frame_id" value="/ghost_right_hand_footprint" />
      <param name="stabilized_frame_id" value="/ghost_right_hand_stabilized" />
      <param name="child_frame_id" value="/right_hand_model/base" />    
    </node>
    
    <arg name="right_hand_robot_model" default="$(find flor_robotiq_hands_tools)/urdf/robotiq_hand_right.urdf"/>
    <param name="right_hand_robot_description" textfile="$(arg right_hand_robot_model)" />
    
    <arg name="right_hand_robot_model_semantic" default="$(find flor_robotiq_hands_tools)/urdf/robotiq_hand_right.srdf"/>
    <param name="right_hand_robot_description_semantic" textfile="$(arg right_hand_robot_model_semantic)" />
    
    
</launch>
