<?xml version="1.0"?>

<launch>
<env name="ROS_NAMESPACE" value="secondary_ocs" />

<!-- Load camera configuration for the UI nodes and nodelets -->
<rosparam command="load" file="$(find vigir_ocs)/launch/atlas_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_LEFT_HAND_TYPE)_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_RIGHT_HAND_TYPE)_camera_topics.yaml" />

<param name="l_hand_type" value="$(env FLOR_LEFT_HAND_TYPE)" />
<param name="r_hand_type" value="$(env FLOR_RIGHT_HAND_TYPE)" />

<node name="vigir_ocs_global_hotkey" pkg="vigir_ocs_global_hotkey" type="global_hotkey" respawn="true" >
  <remap from="/flor/ocs/key_event" to="/flor/ocs/secondary/key_event" />
</node>  

<node name="vigir_ocs_hotkey_relay" pkg="vigir_ocs_hotkey_relay" type="hotkey_relay" respawn="true" >
</node>  

<!--Add below for running memcheck, replace == with dashes (due to stupid xml uncommenting-->
<!--launch-prefix="valgrind ==tool=memcheck  ==track-origins=yes ==leak-check=full ==log-file=/home/vigir/main_view_memcheck.log"-->
<node name="vigir_ocs_main_view"         pkg="vigir_ocs_main_view"         type="main_view"             respawn="true" > <!--  output="screen" launch-prefix="xterm -e" / -->
  <!--<remap from="/flor/worldmodel/ocs/dist_query_pointcloud_result" to="/flor/worldmodel/ocs/cloud_result" />-->
  <remap from="/flor/ocs/key_event" to="/flor/ocs/secondary/key_event" />
  <remap from="/flor/ocs/hotkey_relay" to="/flor/ocs/secondary/hotkey_relay" />
</node>

<node name="vigir_ocs_map_view"             pkg="vigir_ocs_map_view"             type="map_view"                 respawn="true"      > <!--  output="screen" launch-prefix="xterm -e" / -->
  <!--<remap from="/flor/worldmodel/ocs/dist_query_pointcloud_result" to="/flor/worldmodel/ocs/cloud_result" />-->
  <remap from="/flor/ocs/key_event" to="/flor/ocs/secondary/key_event" />
  <remap from="/flor/ocs/hotkey_relay" to="/flor/ocs/secondary/hotkey_relay" />
</node>


<node name="vigir_ocs_main_camera_view"     pkg="vigir_ocs_main_camera_view"     type="main_camera_view"         respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
  <!--<remap from="/flor/worldmodel/ocs/dist_query_pointcloud_result" to="/flor/worldmodel/ocs/cloud_result" />-->
  <remap from="/flor/ocs/key_event" to="/flor/ocs/secondary/key_event" />
  <remap from="/flor/ocs/hotkey_relay" to="/flor/ocs/secondary/hotkey_relay" />
</node>


<node name="vigir_rqt_step_interface"     pkg="vigir_rqt_step_interface"     type="step_interface"         respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
</node>


<node name="vigir_rqt_footstep_param_control" pkg="vigir_rqt_footstep_param_control"     type="footstep_param_control"         respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
</node>

<node name="vigir_ocs_ghost_control_widget" pkg="vigir_ocs_ghost_control_widget"     type="ghost_control"            respawn="true">
  <remap from="/flor/ocs/key_event" to="/flor/ocs/secondary/key_event" />
</node>  

</launch>
