<?xml version="1.0"?>

<launch>

    <!-- Load camera configuration, params for hands and grasp widget tf -->
    <include file="$(find vigir_ocs)/launch/common/common_parameter_setup.launch">

    <!-- Start the Auxiliary OCS -->
    <!-- Start the OCS -->
    <node name="$(anon vigir_ocs_main_view)"            pkg="vigir_ocs_main_view"            type="main_view"                respawn="true"> <!--  output="screen" launch-prefix="xterm -e gdb -ex r" / -->
    </node>
    <node name="$(anon vigir_ocs_map_view)"             pkg="vigir_ocs_map_view"             type="map_view"                 respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
    </node>
    <node name="$(anon vigir_ocs_main_camera_view)"     pkg="vigir_ocs_main_camera_view"     type="main_camera_view"         respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
    </node>

    <!-- Start the all the other windows -->
    <node name="$(anon vigir_rqt_joint_control)"        pkg="vigir_rqt_joint_control"            type="joint_control_qt"        respawn="true"/> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="$(anon vigir_ocs_glance_hub)"           pkg="vigir_ocs_glance_hub"               type="glance_hub"	            respawn="true"/>
    <node name="$(anon vigir_ocs_ghost_control_widget)" pkg="vigir_ocs_ghost_control_widget"     type="ghost_control"           respawn="true"/> <!--  output="screen" launch-prefix="xterm -e" / -->

    <node name="$(anon vigir_ocs_back_joint_limit)"     pkg="vigir_ocs_back_joint_limit"         type="joint_limit"             respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
      <param name="joint_names" value="back_bkz back_bky back_bkx" />
      <param name="joint_name_descriptions" value="yaw pitch roll" />
    </node>

    <node name="$(anon vigir_rqt_step_interface)"       pkg="vigir_footstep_planning_widgets"   type="step_interface_qt"    respawn="true"   ns="$(arg footstep_planning_ns)"/> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="$(anon vigir_rqt_parameter_editor)"     pkg="vigir_footstep_planning_widgets"   type="parameter_editor_qt"  respawn="true"   ns="$(arg footstep_planning_ns)"/> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="$(anon vigir_rqt_bdi_pelvis_pose)"      pkg="vigir_rqt_bdi_pelvis_pose"         type="pelvis_pose_qt"       respawn="true"/> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="$(anon vigir_ocs_template_joystick)"    pkg="vigir_ocs_template_joystick"       type="template_joystick"    respawn="true"/> <!--  output="screen" launch-prefix="xterm -e" / -->



    <!-- =============  Also run the status widgets on the main UI screen ========= -->
    <include file="$(find vigir_rqt_position_mode)/launch/hand_positions.launch" />

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find vigir_ocs)/rviz/ocs_default.rviz"  /> <!--  output="screen" launch-prefix="xterm -e" / -->

</launch>
