<?xml version="1.0"?>

<launch>

    <node pkg="message_to_tf" type="message_to_tf" name="ghost_left_hand_state_to_tf" output="screen" respawn="true">
      <param name="pose_topic" value="/ghost_left_hand_pose" /> <!-- frame_id in the pose has to be /world -->
      <param name="footprint_frame_id" value="/ghost_left_hand_footprint" />
      <param name="stabilized_frame_id" value="/ghost_left_hand_stabilized" />
      <param name="child_frame_id" value="/left_hand_model/left_palm" />    
    </node>
    
    <node pkg="message_to_tf" type="message_to_tf" name="ghost_right_hand_state_to_tf" output="screen" respawn="true">
      <param name="pose_topic" value="/ghost_right_hand_pose" /> <!-- frame_id in the pose has to be /world -->
      <param name="footprint_frame_id" value="/ghost_right_hand_footprint" />
      <param name="stabilized_frame_id" value="/ghost_right_hand_stabilized" />
      <param name="child_frame_id" value="/right_hand_model/right_palm" />    
    </node>
    
    <node name="ghost_left_hand_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="true">
      <remap from="robot_description" to="left_hand_robot_description" />
      <remap from="joint_states" to="/ghost_left_hand/joint_states" />
      <param name="tf_prefix" value="/left_hand_model"/>
    </node>
    
    <node name="ghost_right_hand_state_publisher" pkg="robot_state_publisher" type="state_publisher" respawn="true">
      <remap from="robot_description" to="right_hand_robot_description" />
      <remap from="joint_states" to="/ghost_right_hand/joint_states" />
      <param name="tf_prefix" value="/right_hand_model"/>
    </node>

    <!-- Robot descriptions for the ghost data -->
    <arg name="left_hand_robot_model" default="$(find flor_sandia_hands_tools)/urdf/sandia_hand_left.urdf"/>
    <param name="left_hand_robot_description" textfile="$(arg left_hand_robot_model)" />
    
    <arg name="right_hand_robot_model" default="$(find flor_sandia_hands_tools)/urdf/sandia_hand_right.urdf"/>
    <param name="right_hand_robot_description" textfile="$(arg right_hand_robot_model)" />

    <node name="vigir_ocs_template_nodelet" pkg="vigir_ocs_template_nodelet" type="template_nodelet" respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
      <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />
    </node>
    <node name="vigir_ocs_waypoint_nodelet"     pkg="vigir_ocs_waypoint_nodelet"     type="waypoint_nodelet"  respawn="true"    /> <!--  output="screen" launch-prefix="xterm -e" / -->

    <!--Starts the ocs model node and loads URDF and SRDF to parameters server-->
    <include file="$(find flor_moveit_ocs_model)/launch/moveit_ocs_model.launch" />
    
    
</launch>
