<?xml version="1.0"?>

<launch>
  
<include file="$(find vigir_comms_bridge)/launch/cloudsim_ocs.launch" />

<include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />

<include file="$(find vigir_ocs)/launch/vigir_status_ui.launch" />

<include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />

<!-- plan to start ocs logging on frodo -->
<!-- include file="$(find vigir_ocs)/launch/ocs_logging.launch" / -->

</launch>
