<?xml version="1.0"?>

<launch>

<!-- Load camera configuration for the UI nodes and nodelets -->
<rosparam command="load" file="$(find vigir_ocs)/config/atlas_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/config/$(env FLOR_LEFT_HAND_TYPE)_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/config/$(env FLOR_RIGHT_HAND_TYPE)_camera_topics.yaml" />
<rosparam file="$(find vigir_ocs_grasp_widget)/launch/$(env FLOR_LEFT_HAND_TYPE)_tf.yaml" ns="l_hand_tf"/>
<rosparam file="$(find vigir_ocs_grasp_widget)/launch/$(env FLOR_RIGHT_HAND_TYPE)_tf.yaml" ns="r_hand_tf"/>

<!-- top-level launch file for starting the comms bridge connections -->
<!-- include file="$(find vigir_comms_bridge)/launch/ocs_bridge.launch" / -->

<!--  misc ocs nodelets used to synchronize stations -->
<include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />

<include file="$(find vigir_ocs)/launch/vigir_status_ui.launch" />

<include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />

<node name="comms_supervisor"         pkg="vigir_ocs_supervisor"    type="supervisor"     respawn="true"  > <!--  output="screen" launch-prefix="xterm -e" / -->
	<param name="filter_rate" value="0.5" />
</node>

<node name="comms_bandwidth"         pkg="vigir_ocs_bandwidth_widget"    type="bandwidth_widget"     respawn="true"  > <!--  output="screen" launch-prefix="xterm -e" / -->
</node>

<!-- plan to start ocs logging on frodo -->
<!-- include file="$(find vigir_ocs)/launch/ocs_logging.launch" / -->

</launch>
