<?xml version="1.0"?>

<launch>
  
  <!-- Load camera configuration, params for hands and grasp widget tf -->
  <include file="$(find vigir_ocs)/launch/common/common_parameter_setup.launch"/>

  <node name="$(anon vigir_ocs_global_hotkey)" pkg="vigir_ocs_global_hotkey" type="global_hotkey" respawn="true" />  

  <!-- Start the minimal OCS -->
  <node name="$(anon vigir_ocs_main_view)"            pkg="vigir_ocs_main_view"                type="main_view"                   respawn="true" />
  <node name="$(anon footstep_param_control)"         pkg="vigir_rqt_footstep_param_control"   type="footstep_param_control_qt"   respawn="true" />  
  <node name="$(anon vigir_rqt_step_interface)"       pkg="vigir_footstep_planning"           type="step_interface_qt"           respawn="true" />  
</launch>

