<?xml version="1.0"?>

<launch>

    <include file="$(find vigir_ocs)/launch/$(env FLOR_LEFT_HAND_TYPE)_vigir_ocs_nodelets.launch" />
    <include file="$(find vigir_ocs)/launch/$(env FLOR_RIGHT_HAND_TYPE)_vigir_ocs_nodelets.launch" />    
    

    <node name="vigir_ocs_template_nodelet" pkg="vigir_ocs_template_nodelet" type="template_nodelet" respawn="true"> <!--  output="screen" launch-prefix="xterm -e" / -->
      <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />
    </node>
    <node name="vigir_ocs_waypoint_nodelet"     pkg="vigir_ocs_waypoint_nodelet"     type="waypoint_nodelet"  respawn="true"    /> <!--  output="screen" launch-prefix="xterm -e " / -->
    <!--<node name="vigir_ocs_image_nodelet"     pkg="vigir_ocs_image_nodelet"     type="image_nodelet"  respawn="true"    />--> <!--  output="screen" launch-prefix="xterm -e" / -->
    <node name="vigir_ocs_interactive_marker_server_nodelet"     pkg="vigir_ocs_interactive_marker_server_nodelet"     type="interactive_marker_server_nodelet"  respawn="true"    /> <!--  output="screen" launch-prefix="xterm -e" / -->

    <node name="vigir_ocs_footstep_manager"     pkg="vigir_ocs_footstep_manager"     type="footstep_manager"  respawn="true"   output="screen" launch-prefix="xterm -e gdb -ex r" />

    <!--Starts the ocs model node and loads URDF and SRDF to parameters server-->
    <include file="$(find flor_moveit_launch)/launch/ocs_model.launch" />
  
    <!--Below allows using inverse reachability and generating simple cartesian plans on OCS-->
    <include file="$(find flor_ocs_planning_manager)/launch/ocs_planning_manager.launch" />
    
    <include file="$(find vigir_image_rotate_ocs)/launch/vigir_image_rotate_ocs_default.launch" />
    
</launch>
