<?xml version="1.0"?>

<launch>

<!-- Load camera configuration, params for hands and grasp widget tf -->
<include file="$(find vigir_ocs)/launch/common/common_parameter_setup.launch"/>

<include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />

<include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets_with_footstep_planner.launch"/>

<include file="$(find vigir_ocs)/launch/vigir_main_ui.launch" />

</launch>
