<?xml version="1.0"?>

<launch>

<rosparam command="load" file="$(find vigir_ocs)/launch/atlas_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_LEFT_HAND_TYPE)_camera_topics.yaml" />
<rosparam command="load" file="$(find vigir_ocs)/launch/$(env FLOR_RIGHT_HAND_TYPE)_camera_topics.yaml" />

<!-- top-level launch file for starting the comms bridge connections -->
<!-- include file="$(find vigir_comms_bridge)/launch/ocs_bridge.launch" / -->

<!--  misc ocs nodelets used to synchronize stations -->
<include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />

<include file="$(find vigir_ocs)/launch/vigir_status_ui.launch" />

<include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />

<node name="ocs_supervisor"         pkg="vigir_ocs_supervisor"    type="supervisor"     respawn="true"      /> <!--  output="screen" launch-prefix="xterm -e" / -->

<!-- plan to start ocs logging on frodo -->
<!-- include file="$(find vigir_ocs)/launch/ocs_logging.launch" / -->

</launch>
