<?xml version="1.0"?>

<launch>
  
  <!-- Load camera configuration, params for hands and grasp widget tf -->
  <include file="$(find vigir_ocs)/launch/common/common_parameter_setup.launch"/>
  
  <include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />
  <include file="$(find vigir_ocs)/launch/vigir_ocs_nodelets.launch" />
  
  
  
  <!-- Start the main OCS -->
  
  <node name="vigir_ocs_manipulation_test"   pkg="vigir_ocs_manipulation_test"            type="manipulation_test" respawn="true"> <!--  output="screen" launch-prefix="xterm -e gdb -ex r" / -->
    <!--  <remap from="/flor/worldmodel/ocs/dist_query_pointcloud_result" to="/flor/worldmodel/ocs/cloud_result" /> -->
  </node>
  
</launch>
