<?xml version="1.0"?>

<launch>
  
  <!-- Robot Description -->
  <param name="robot_description" textfile="$(find atlas)/atlas.urdf"/>
  
  <!-- Robot State Publisher. Subscribes to joint states and publishes tf based on them-->
  <node pkg="robot_state_publisher" type="state_publisher" name="atlas_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/atlas/joint_states" />
  </node>

</launch>
