<?xml version="1.0"?>

<launch>

    <node name="left_grasp_ui" pkg="vigir_ocs_grasp_widget" type="grasp_widget"  respawn="true"> <!--  output="screen" launch-prefix="xterm -e"  -->
        <param name="hand" value="left" />
        <param name="hand_type" value="sandia" />

        <!-- Publications -->
        <remap from="/template/grasp_mode_command" to="/grasp_control/l_hand/mode_command" />
        <remap from="/template/grasp_selection"    to="/grasp_control/l_hand/grasp_selection" />
        <remap from="/template/release_grasp"      to="/grasp_control/l_hand/release_grasp" />

        <!-- Subscriptions -->
        <remap from="/template/active_state"            to="/grasp_control/l_hand/active_state" />
        <remap from="/template/template_match_feedback" to="/grasp_control/template_selection" />

    </node>

</launch>
