<?xml version="1.0"?>

<launch>


<!-- Include files intended to launch on field computer 1 -->
<include file="$(find vigir_onboard)/launch/vigir_onboard_sim.launch" />
<include file="$(find vigir_onboard)/launch/vigir_onboard_fc3.launch" /> <!-- drc split -->

  <node pkg="vigir_comms_bridge" name="bridge_state_field" type="bridge_state_field">
    <rosparam file="$(find vigir_comms_bridge)/config/bridge_state_field.yaml" command="load" />
  </node>

  <node pkg="vigir_comms_bridge" name="bridge_cmd_field" type="bridge_cmd_field">
    <rosparam file="$(find vigir_comms_bridge)/config/bridge_cmd_field.yaml" command="load" />
  </node>

  <node name="bridge_behaviors_field" pkg="vigir_comms_bridge" type="bridge_behaviors_field" >
    <param name="field_address" value="10.0.0.52" />
    <param name="ocs_address"   value="11.8.0.2"  />
    <param name="tcp_port"      value="3853"      />
  </node>

  <node name="bridge_motion_service_field" pkg="vigir_comms_bridge" type="bridge_motion_service_field" >
    <param name="field_address" value="10.0.0.52" />
    <param name="ocs_address"   value="11.8.0.2"  />
    <param name="tcp_port"      value="3854"      />
  </node>

  <node name="bridge_footstep_planner_field" pkg="vigir_comms_bridge" type="bridge_footstep_planner_field" >
    <param name="field_address" value="10.0.0.52" />
    <param name="ocs_address"   value="11.8.0.2"  />
    <param name="tcp_port"      value="3855"      />
    <param name="field_udp_port" value="3866"     />
    <param name="ocs_udp_port"   value="3867"     />
  </node>

  <node name="bridge_moveit_planner_field" pkg="vigir_comms_bridge" type="bridge_moveit_planner_field" >
    <param name="field_address" value="10.0.0.52" />
    <param name="ocs_address"   value="11.8.0.2"  />
    <param name="tcp_port"      value="3856"      />
  </node>


</launch>

