<?xml version="1.0"?>

<launch>

<!-- Start the Grasp controllers -->
<include file="$(find vigir_onboard)/launch/grasp_controllers.launch"/>

<include file="$(find vigir_onboard)/launch/moveit_planning.launch" />

<!-- Start footstep planner -->
<include file="$(find vigir_atlas_footstep_planner)/launch/atlas_footstep_planner.launch"/>

<!-- Start terrain classifier -->
<include file="$(find vigir_atlas_footstep_planner)/launch/atlas_terrain_classifier.launch"/>

<!--  Start the behavior engine -->
<include file="$(find vigir_be_launch)/launch/behavior_onboard_atlas.launch" />

<!--  Start motion server  -->
<include file="$(find motion_editor_core)/launch/atlas_motion_service.launch" />

</launch>

