<?xml version="1.0"?>

<launch>
<node name="onboard_logging" pkg="vigir_ocs_logging" type="logger.py">
    <param name="enable_Log_grabbing" type="bool" value="true" />
    <param name="logging_location" type="str" value="/home/testing/Experiments" />
    <rosparam param="to_log">[ '/flor/controller/mode', '/flor/controller/mode_command', '/flor/controller/robot_status', ' /flor/controller/status',
      ' /flor/controller/atlas_state', ' /flor/controller/joint_command', ' /flor/controller/joint_control', ' /flor/controller/raw_state', ' /flor/controller/actuator_state',
      ' /flor/controller/raw_actuator', ' /trajectory_controllers/right_arm_traj_controller/state', ' /trajectory_controllers/right_arm_traj_controller/command',
      ' /trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/goal',
      ' /trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/feedback',
      ' /trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/result',
      ' /trajectory_controllers/right_arm_traj_controller/follow_joint_trajectory/status',
      ' /trajectory_controllers/left_arm_traj_controller/state', ' /trajectory_controllers/left_arm_traj_controller/command',
      '  /trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/goal',
      '  /trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/feedback',
      '  /trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/result',
      '  /trajectory_controllers/left_arm_traj_controller/follow_joint_trajectory/status',
      ' /flor/controller/interface_statistics', ' /flor/controller/controller_statistics',
      '  /flor/controller/controller_status', ' /flor/controller/interface_status', ' /robot_controllers/footstep_controller/execute_step_plan/cancel',
      ' /robot_controllers/footstep_controller/execute_step_plan/feedback', ' /robot_controllers/footstep_controller/execute_step_plan/goal',
      ' /robot_controllers/footstep_controller/execute_step_plan/result', ' /robot_controllers/footstep_controller/execute_step_plan/status', ' /flor/l_arm_controller/trajectory',
      ' /flor/r_arm_controller/trajectory', '/flor/controller/walk_command', '/flor/controller/step_command', '/flor/controller/walk_feedback', '/flor/controller/step_feedback',
      '/robot_controllers/footstep_controller/execute_step_plan/cancel',
      '/vigir/footstep_planning/params/get_all_parameter_sets/cancel',
      '/vigir/ocs/footstep_planning/step_plan_request/goal',
      '/flor/ocs/footstep/plan_goal_array',
      '/vigir/ocs/footstep_planning/edit_step/goal',
      '/vigir/ocs/footstep_planning/step_plan_request/cancel',
      '/flor/ocs/footstep/goal_pose_feedback',
      '/flor/ocs/footstep/list',
      '/vigir/ocs/footstep_planning/stitch_step_plan/goal',
      '/flor/ocs/footstep/parameter_set_list',
      '/vigir/footstep_planning/params/get_all_parameter_sets/goal',
      '/vigir/ocs/footstep_planning/stitch_step_plan/cancel',
      '/flor/ocs/footstep/path',
      '/vigir/ocs/footstep_planning/edit_step/cancel',
      '/vigir/ocs/footstep_planning/update_step_plan/cancel',
      '/flor/ocs/footstep/footsteps_array',
      '/vigir/ocs/footstep_planning/update_step_plan/goal',
      '/flor/ocs/footstep/footsteps_path_body_array',
      '/vigir/ocs/footstep_planning/update_feet/cancel',
      '/vigir/ocs/footstep_planning/update_feet/goal',
      '/robot_controllers/footstep_controller/execute_step_plan/goal',
      '/flor/ocs/footstep/plan_request_feedback',
      '/flor/ocs/footstep/plan_goal',
      '/vigir/ocs/footstep_planning/stitch_step_plan/status',
      '/flor/state/lower_body_world',
      '/vigir/ocs/footstep_planning/vis/step_plan_request',
      '/vigir/footstep_planning/params/get_all_parameter_sets/feedback',
      '/flor/ocs/footstep/redo',
      '/vigir/ocs/footstep_planning/edit_step/status',
      '/vigir/ocs/footstep_planning/edit_step/result',
      '/vigir/ocs/footstep_planning/update_feet/feedback',
      '/robot_controllers/footstep_controller/execute_step_plan/result',
      '/vigir/ocs/footstep_planning/update_step_plan/result',
      '/robot_controllers/footstep_controller/execute_step_plan/feedback',
      '/vigir/ocs/footstep_planning/update_feet/status',
      '/flor/ocs/footstep/execute',
      '/flor/ocs/footstep/undo',
      '/vigir/ocs/footstep_planning/stitch_step_plan/feedback',
      '/vigir/ocs/footstep_planning/vis/step_plan',
      '/vigir/footstep_planning/vis/step_plan_request',
      '/vigir/ocs/footstep_planning/update_feet/result',
      '/flor/ocs/footstep/parameter_set_selected',
      '/flor/ocs/footstep/stitch',
      '/vigir/footstep_planning/params/get_all_parameter_sets/result',
      '/vigir/ocs/footstep_planning/update_step_plan/status',
      '/flor/ocs/footstep/plan_request',
      '/vigir/ocs/footstep_planning/step_plan_request/result',
      '/vigir/footstep_planning/vis/step_plan',
      '/flor/ocs/footstep/step_update',
      '/vigir/ocs/footstep_planning/edit_step/feedback',
      '/flor/ocs/footstep/set_start_index',
      '/flor/ocs/footstep/goal_pose_feedback',
      '/vigir/ocs/footstep_planning/update_step_plan/feedback',
      '/flor/ocs/footstep/plan_update',
      '/vigir/ocs/footstep_planning/stitch_step_plan/result',
      '/vigir/footstep_planning/params/get_all_parameter_sets/status',
      '/robot_controllers/footstep_controller/execute_step_plan/status',
      '/vigir/ocs/footstep_planning/step_plan_request/status',
      '/vigir/ocs/footstep_planning/step_plan_request/feedback',
      '/robot_controllers/right_arm_joint_impedance_controller/dyn_rec/right_arm/parameter_updates',
      '/robot_controllers/left_arm_joint_impedance_controller/dyn_rec/left_arm/parameter_updates',
      '/robot_controllers/left_arm_joint_impedance_controller/tau_obs',
      '/robot_controllers/right_arm_joint_impedance_controller/tau_obs',
   ] </rosparam>
</node>
</launch>
