<?xml version="1.0"?>

<launch>

<arg name="simple_controller" default="false" />
<arg name="ik_controller"     default="false" />
<arg name="wbc_controller"    default="false" />
<arg name="bdi_controller"    default="false" />

<!-- This launches the components affiliated with state estimation -->
<include file="$(find vigir_state_estimation)/launch/state_estimation.launch"/>

<!-- This launches the components affiliated with lidar processing and lidar-based mapping -->
<include file="$(find vigir_lidar_processing)/launch/lidar_processing.launch"/>

<!-- Include file to launch octomap server (can swap for _large cell version) -->
<!--<include file="$(find vigir_lidar_processing)/launch/octomapping.launch"/>-->

<!-- Launch a controller group if specifed (e.g. simple_controller:=1) -->
<!-- otherwise, just launch the perception code -->
<group if="$(arg wbc_controller)" >
<include file="$(find vigir_joint_controller)/launch/wbc_control.launch" />
</group>

<group if="$(arg bdi_controller)" >
<include file="$(find vigir_joint_controller)/launch/bdi_control.launch" />
</group>

<group if="$(arg ik_controller)" >
<include file="$(find vigir_ik_position_control)/launch/marker_to_joint_commands.launch" />
<include file="$(find vigir_joint_controller)/launch/simple_position_control.launch" />
</group>

<group if="$(arg simple_controller)" >
<include file="$(find vigir_joint_controller)/launch/simple_position_control.launch" />
</group>

<!-- This launches the image crop/decimate nodelets -->
<include file="$(find vigir_image_processing)/launch/image_crop_decimate_nodelet.launch" />
<include file="$(find vigir_image_processing)/launch/image_full_decimate_nodelet.launch" />

<!-- This launches the main worldmodel node -->
<include file="$(find vigir_worldmodel_main)/launch/worldmodel_default.launch" />

</launch>

