<?xml version="1.0"?>

<launch>

<arg name="simple_controller" default="false" />
<arg name="ik_controller"     default="false" />
<arg name="wbc_controller"    default="false" />
<arg name="bdi_controller"    default="false" />

<!-- This launches the components affiliated with state estimation -->
<include file="$(find vigir_state_estimation)/launch/state_estimation.launch"/>

<!-- This launches the components affiliated with lidar processing and lidar-based mapping -->
<include file="$(find vigir_lidar_processing)/launch/lidar_processing.launch"/>

<!-- Include file to launch octomap server (can swap for _large cell version) -->
<!--<include file="$(find vigir_lidar_processing)/launch/octomapping.launch"/>-->

<!-- Launch a controller group if specifed (e.g. simple_controller:=1) -->
<!-- otherwise, just launch the perception code -->
<group if="$(arg wbc_controller)" >

<!-- Publish topic to pin hip -->
 <node type="rostopic" pkg="rostopic" name="pin_hip" args="pub --once /atlas/cmd_vel geometry_msgs/Twist '{ linear: { x: 0.0, y: 0.0, z: 0.0 }, angular: { x: 0.0, y: 0.0, z: 0.0 } }'" output="screen"  />

<include file="$(find vigir_joint_controller)/launch/wbc_control.launch" />
</group>

<group if="$(arg bdi_controller)" >
<include file="$(find vigir_joint_controller)/launch/bdi_control.launch" />
</group>

<group if="$(arg ik_controller)" >
<!-- Publish topic to pin hip -->
 <node type="rostopic" pkg="rostopic" name="pin_hip" args="pub --once /atlas/cmd_vel geometry_msgs/Twist '{ linear: { x: 0.0, y: 0.0, z: 0.0 }, angular: { x: 0.0, y: 0.0, z: 0.0 } }'" output="screen"  />
<include file="$(find vigir_ik_position_control)/launch/marker_to_joint_commands.launch" />
<include file="$(find vigir_joint_controller)/launch/simple_position_control.launch" />
</group>

<group if="$(arg simple_controller)" >
<include file="$(find vigir_joint_controller)/launch/simple_position_control.launch" />
</group>

<!-- This launches the image crop/decimate nodelets -->
<include file="$(find vigir_image_processing)/launch/onboard_crop_decimate_nodelets.launch" />

<!-- This launches the main worldmodel node -->
<include file="$(find vigir_worldmodel_main)/launch/worldmodel_default.launch" />

<!-- This launches the main controller node -->
<include file="$(find vigir_gravity_controller_plugin)/launch/gravity_controller.launch" />

<!-- Start the grasping controllers -->
<include file="$(find vigir_grasp_testing)/launch/grasp_testing.launch" />

<!-- Start the template matcher here -->
<node pkg="vigir_object_template_matcher" type="object_template_alignment_node" name="object_template_alignment_node" output="screen" launch-prefix="xterm -e" >
    <param name="template_path"  value="$(find templates)" />
    <param name="template_files" value="grasp_templates.txt" />
    <param name="inflation_factor" value="0.9" />
    <remap from="/template_req" to="/template/template_selected"/>
    <remap from="/template_matching_result" to="/grasp_control/template_selection" />
</node>


</launch>

