<?xml version="1.0"?>

<launch>

<include file="$(find vigir_state_estimation)/launch/state_estimation.launch"/>

<!-- This launches the main controller node -->
<include file="$(find vigir_gravity_controller_plugin)/launch/gravity_controller.launch" />

<!-- Start the grasping controllers -->
<include file="$(find vigir_grasp_testing)/launch/grasp_testing.launch" />

<!-- Start the default vrc footstep planner setup -->
<include file="$(find flor_footstep_planner)/launch/flor_footstep_planner_vrc_default.launch" />

<include file="$(find vigir_onboard)/launch/vigir_status_relay.launch" />

<!--  Start the behavior engine -->
<include file="$(find flor_behavior_idle)/launch/behavior_onboard.launch" />

<!--  Start motion server  -->
<node name="motion_service" pkg="flor_motion" type="motion_service" respawn="true"/>

 <!-- Start the behavior engine -->
<include file="$(find flor_behavior_idle)/launch/behavior_onboard.launch"/>

</launch>

